#external{
      height: 70vh;
      width: 40vh;
      background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 15px;
      box-sizing: border-box;
      border-radius: 40px;
    }